<settings>
	<servers>
	<server>
      <id>MuleRepository</id>
      <username>${env.NEXUSUSERNAME}</username>
      <password>${env.NEXUSPASSWORD}</password>
    </server>
   <server>
			<id>anypoint-exchange-v3</id>
			<username>~~~Client~~~</username>
			<password>05d2e359d7c2432e8101b471d8362e71~?~5fF32E4A073c4C92867591cf3D9C33c5</password>
	</server>
   <server>
			<id>anypoint-exchange-v2</id>
			<username>~~~Client~~~</username>
			<password>05d2e359d7c2432e8101b471d8362e71~?~5fF32E4A073c4C92867591cf3D9C33c5</password>
	</server>
	</servers>
</settings>
