<settings>
	<servers>
	<server>
      <id>MuleRepository</id>
      <username>${env.NEXUSUSERNAME}</username>
      <password>${env.NEXUSPASSWORD}</password>
    </server>
    <server>
      <id>anypoint-exchange-v2</id>
      <username>${env.CONNECTEDAPP_CLIENTID}</username>
      <password>${env.CONNECTEDAPP_CLIENTSECRET}</password>
    </server>
	</servers>
</settings>
